<?xml version="1.0" encoding="UTF-8"?>
<!--
  设置 metadata-complete="true" 可以禁止扫描 web应用和库类, 主要是对注解的扫描(例如 Servlet等)。
  metadata-complete 选项并不能禁止所有的注解扫描. 加入存在 @HandlesTypes 注解的SCI, 则Tomcat 一定会扫描整个应用, 以确定使用对应注解的类和接口
-->
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false">
  <display-name>Archetype Created Web Application</display-name>

</web-app>
